*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    width: 100%;
}
body {
    font-family: Arial, sans-serif;
    background-color: #4145a8;
    color: white;
}
a{
    color: #f0f0f0;
    text-decoration: none;
}
a:hover{
    font-size: 15px;
}
.msg{
    margin-bottom: 10px ;
}
.ancora{
    margin-top: 10px;
}