<!DOCTYPE html>
<html lang="pt-br">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>DevBurger</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.7/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-LN+7fdVzj6u52u30Kp6M/trliBMCMKTyK833zpbD+pXdCLuTusPj697FH4R/5mcr" crossorigin="anonymous">
    <link rel="stylesheet" href="/css/style.css">
</head>

<body>
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-12 text-center mt-4">
                <h1>DevBurger</h1>
            </div>
        </div>
        <div class="row">
            <div class="col-md-12 text-center mt-4">
                <h5>Visão Geral</h5>
            </div>
        </div>
        <div class="row">
            <div class="col-md-3"></div>
            <div class="col-md-6 d-flex justify-content-center text-center mt-4 mb-4">
                <p>A DevBurger é uma hamburgueria temática voltada para desenvolvedores, que combina a paixão por
                    programação com uma experiência gastronômica diferenciada</p>
            </div>
            <div class="col-md-3"></div>
        </div>
        <div class="row mt-4 mb-4">
            <div class="col-md-12 text-center">
                <h5>Cardápio</h5>
            </div>
            <div class="row mb-4">
                <div class="col-md-5"></div>

                <div class="col-md-1">
                    <ul class="cardapio">
                        <li>Hamburguer</li>
                        <li>Pizza</li>
                        <li>Pastel</li>
                    </ul>

                </div>
                <div class="col-md-5"></div>
            </div>
        </div>
        <div class="row mt-4">
            <div class="col-md-12 text-center">
                <h5>Sugestão de Lanche</h5>
            </div>
        </div>
        <div class="row">
            <div class="col-md-3"></div>
            <div class="col-md-6">
                <form action="/sugestao" method="GET">
                    <label for="nome">Nome da Sugestão:</label>
                    <input type="text" id="nome" class="form-control mb-2" name="nome" placeholder="Hamburguer...">
                    <label for="ingredientes">Ingredientes:</label>
                    <input type="text" id="ingredientes" class="form-control mb-2" name="ingredientes"
                        placeholder="Tomate,melancia...">
                    <button type="submit" class="btn btn-primary col-2">Enviar Sugestão</button>
                </form>
            </div>
            <div class="col-md-3"></div>
        </div>

    </div>
    <div class="row">
        <div class="col-md-12 text-center mt-4">
            <h5>Rotas</h5>
        </div>
    </div>
    <div class="row text-center">
        <div class="col-md-6 text-end">
            <a href="/contato">CONTATO</a>
        </div>
        <div class="col-md-6 text-start">
            <a href="/api/lanches">API/LANCHES</a>
        </div>
    </div>










    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.7/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-ndDqU0Gzau9qJ1lfW4pNLlhNTkCfHzAVBReH9diLvGRem5+R9g2FzA8ZGN954O5Q"
        crossorigin="anonymous"></script>
</body>

</html>